* {
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

.container {
margin: 88px auto;
align-items: center;
border: 1px solid rgba(var(--b6a,219,219,219),1);
width: 350px;
height: 500px;
}

.inputWrap input{
    outline: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

h1 {
    font-size: 3.0em;
    height: auto;
    display: inline-block;
}